.root {
}

.navigation {
  order: 2;
  flex: 1 1 100%;
  display: none;
  padding-top: 20px;

  @media (--desktop) {
    order: 1;
    display: block;
    padding-top: 0;
    flex-basis: auto;
  }
}

.navigation_expanded {
  display: block;
}

.top {
  display: flex;
}

.left {
  order: 0;

  display: flex;
  align-items: center;
  padding: 0 5px;

  @media (--desktop) {
    display: none;
  }
}

.middle {
  width: 100%;
}

.middleInner {
  display: none;

  @media (--tablet) {
    display: flex;
  }
}

.right {
  order: 1;
}

.bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (--desktop) {
    padding-top: 0;
    padding-bottom: 0;
  }
}
