@font-face {
  font-family: Formular;
  src: url(./resources/fonts/FormularBlack.eot);
  src: url(./resources/fonts/FormularBlack.eot) format("embedded-opentype"),
  url(./resources/fonts/FormularBlack.woff2) format("woff2"),
  url(./resources/fonts/FormularBlack.woff) format("woff"),
  url(./resources/fonts/FormularBlack.ttf) format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Formular;
  src: url(./resources/fonts/FormularMedium.eot);
  src: url(./resources/fonts/FormularMedium.eot) format("embedded-opentype"),
  url(./resources/fonts/FormularMedium.woff2) format("woff2"),
  url(./resources/fonts/FormularMedium.woff) format("woff"),
  url(./resources/fonts/FormularMedium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Formular;
  src: url(./resources/fonts/FormularRegular.eot);
  src: url(./resources/fonts/FormularRegular.eot) format("embedded-opentype"),
  url(./resources/fonts/FormularRegular.woff2) format("woff2"),
  url(./resources/fonts/FormularRegular.woff) format("woff"),
  url(./resources/fonts/FormularRegular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: fontello;
  src: url(./resources/fonts/fontello.eot);
  src: url(./resources/fonts/fontello.eot#iefix) format("embedded-opentype"),
  url(./resources/fonts/fontello.woff2) format("woff2"),
  url(./resources/fonts/fontello.woff) format("woff"),
  url(./resources/fonts/fontello.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

html,
body {
  box-sizing: border-box;
  height: 100%;
  font-family: Formular, Open Sans, Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.75;
  background-color: var(--theme-page-bg);
  color: var(--theme-text);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
